body,html {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', Arial, sans-serif;
	color: rgba(0, 0, 0, .87);
	background: #f5f5f5;
	height: 100vh;
	min-height: 250px;
}

.header {display: flex;justify-content: flex-start;align-items: center;width: 100%;max-width: 300px;height: 59px;margin: auto;font-size: 12px;color: #0097a7;opacity: .8;}

.header-h1 {
	/* max-width: 539px; */
	width: 90%;
	padding: 0;
	/* margin: auto; */
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 300px;
	min-height: 350px;
	margin: auto;
}

.intro {
	/* max-width: 300px; */
	width: 100%;
	transition: all .5s ease;
	will-change: transform, opacity;
	pointer-events: visible;
}

.intro__out {
	opacity: 0;
	pointer-events: none;
}

.instructions {
	max-width: 300px;
	width: 100%;
	margin: 30px auto;
}

.input-area {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: flex-end;
	margin: 50px auto 20px;
	max-width: 300px;
	width: 100%;
}

.form {
	display: flex;
	/* flex-direction: column; */
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	/* height: 100px; */
	margin: 10px 0;
}

.input-box {
	/* width: 45%; */
	/* margin-right: 10px; */
}

.input {
	border: none;
	outline: none;
	width: 100%;
	max-width: 130px;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	background: transparent;
	color: rgba(0, 0, 0, .8);
<<<<<<< HEAD
	font-size: 1.2em;
=======
	font-size: 1em;
>>>>>>> b3b2070cb3bc2ca214333110ed2dce63fa1b2544
	padding: 4px 0 2px;
	transition: all .5s ease;
	position: relative;
	z-index: 2;
}

.input:focus {
	border-color: #0097a7;

}


.input-label {
<<<<<<< HEAD
	font-size: 1.2em;
	font-weight: 400;
	color: rgba(0,0,0, 0.37);
=======
	font-size: 1em;
	color: rgba(0,0,0, .4);
>>>>>>> b3b2070cb3bc2ca214333110ed2dce63fa1b2544
	transform: translateY(15%);
	transform-origin: bottom left;
	cursor: text;
	position: absolute;
	z-index: 1;
	transition: all .3s ease;
	will-change: transform;
}

.input-label__active {
	transform: translateY(-115%) scale(.75);
	color: #0097a7;
}

.imc-btn {
	margin: 50px 0 0 0;
	padding: 10px 15px;
	background: #0097a7;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	color: #fff;
	border: none;
	outline: none;
	border-radius: 3px;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: .8em;
	/* letter-spacing: 1px; */
	font-weight: 700;
	cursor: pointer;
	transition: all .3s ease;
	pointer-events: none;
}

.imc-btn__active {
	pointer-events: visible;

}

.error {
	display: none;
}

.result-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 350px;
	width: 100%;
	height: 300px;
	margin-bottom: -135px;
	border-radius: 3px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	background: #fff;
	opacity: 0;
	transition: all .5s ease;
	will-change: transform, opacity;
	pointer-events: none;
	position: relative;
	z-index: 9;
}

.result-card__visible {
	opacity: 1;
	transform: translateY(-65%);
	pointer-events: visible;
}

.result {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
}

.indice {
    font-size: 1.8em;
    color: #0097a7;
    opacity: .8;
}

.comment, .scale {
	width: 90%;
	margin: auto;
}

.weight-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.weight-container p {
	width: 100px;
}

.scale-separator {
	width: 5px;
	height: 5px;
	background: #0097a7;
	border-radius: 5px;
	opacity: .8
}


.indice, .weight {
	color: #0097a7
}

.erase {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	margin-bottom: 40px;
	transform: scale(0);
	transition: transform .5s ease;
	outline: none;
	pointer-events: none;
}

.erase__active {
	transform: scale(1);
	pointer-events: visible;
}

.clear {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border: none;
	outline: none;
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	cursor: pointer;
	position: absolute;
	opacity: .8;
}

@media screen and (min-width:500px) {
	body {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.content {
		height: 500px;
		max-width: 400px;
		background: #fff;
		padding: 20px;
		border-radius: 3px;
		box-shadow: 0 2px 5px rgba(0,0,0,.3);
	}

	.instructions {
		margin: 30px auto;
	}

	.header, .instructions, .input-area {
		max-width: 350px
	}


	.result-card {
		box-shadow: none;
		border-radius: 0;
		border-top: 1px solid rgba(0,0,0,.3);
	}

	.result-card__visible {
		transform: translateY(-75%);
	}
}