body,html {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', Arial, sans-serif;
	color: rgba(0, 0, 0, .8);
	background: #f5f5f5;
	height: 100vh;
	min-height: 450px;
	max-height: 550px
}

.header {
display: flex;
justify-content: center;
align-items: center;
height: 59px;
margin: auto;
font-size: 12px;
color: #0097a7;
opacity: .8
}

.header-h1 {
	max-width: 800px;
	width: 100%;
	padding: 0;
	margin: 0 0 0 15px;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 95%;
	min-height: 450px;
	margin: auto;
}

.intro {
	max-width: 300px;
	width: 90%;
	transition: all .5s ease;
	will-change: transform, opacity;
	pointer-events: visible;
}

.intro__out {
	opacity: 0;
	transform: translateY(-100%);
	pointer-events: none;
}

.instructions {
	max-width: 800px;
	width: 100%;
	text-align: center;
	opacity: .8
}

.input-area {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	margin: 30px auto 20px;
	max-width: 250px;
	width: 90%;
}

.form {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin: 10px 0
}

.input {
	border: none;
	outline: none;
	width: 90px;
	border-bottom: 2px solid rgba(0, 0, 0, .6);
	background: transparent;
	color: rgba(0, 0, 0, .8);
	font-size: 1.2em;
	text-align: center;
	padding-left: 5px;
	transition: all .5s ease;
}

.input:focus {
	border-bottom: 2px solid rgba(0, 151, 167, .8);
}

.imc-btn {
	margin: 20px 0 0 0;
	padding: 10px 15px;
	background: #939393;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 3px;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 700;
	cursor: pointer;
	transition: all .3s ease;
	pointer-events: none;
}

.imc-btn__active {
	background: #31a9b6;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	pointer-events: visible;

}

.error {
	display: none;
}

.result-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 350px;
	width: 100%;
	height: 300px;
	border-radius: 3px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	background: #fff;
	opacity: 0;
	transition: all .5s ease;
	will-change: transform, opacity;
	pointer-events: none;
	position: relative;
	z-index: 9
}

.result-card__visible {
	opacity: 1;
	transform: translateY(-30%);
	pointer-events: visible;
}

.result {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
}

.indice {
    font-size: 1.8em;
    color: #0097a7;
    opacity: .8;
}

.comment, .scale {
	width: 90%;
	margin: auto;
}

.weight-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.weight-container p {
	width: 100px;
}

.scale-separator {
	width: 5px;
	height: 5px;
	background: #0097a7;
	border-radius: 5px;
	opacity: .8
}


.indice, .weight {
	color: #0097a7
}

.erase {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	transform: scale(0);
	transition: transform .5s ease;
	outline: none;
	pointer-events: none;
}

.erase__active {
	transform: scale(1);
	pointer-events: visible;
}

.clear {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border: none;
	outline: none;
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	cursor: pointer;
	opacity: .8
}

